h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: yellow;
    color: rgb(20, 49, 69);
    opacity: 0;               /* start invisible */
    animation-name: fadeIn;    /* animation to run */
    animation-duration: 2s;    /* lasts 2 seconds */
    animation-fill-mode: forwards; /* stays visible after animation */
    animation-timing-function:ease-in; /* smooth */
    display:inline
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

p{
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-style: inset;
    padding:4px ;
    border-color: rgb(250, 225, 153);
    font-size:22px ;
    text-shadow:black;
    background-color: black;

}
body {
background: linear-gradient(to bottom, #1a1a1a, #0d0d0d);
    
}
img {
    width: 300px;
    height: auto;
}
h2{
    font-size: 39bx;
    background-color: rgba(230, 230, 41, 0.583);
    padding:5px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.container{
 max-width: 1000px;
 margin: 0 auto;
 padding: 20px;
 display:flexbox;
}
.rating{
    margin-left: 217px;
    font-weight: bold;
    font-size: 25px;
    align-self: flex-start;
    margin-top: -50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
}
.pp{
    align-items: center;
}
.list{color: white;
    font-size: 23px;
    margin-left: 700px;
    margin-top: -200px;
    border-style: groove;
    border-top-left-radius:4px ;
    border-color: rgb(248, 255, 114);
      background-color:black


}
  .ndpic{
    width: 200px;
    length:122px;
  } 
  button{
color: rgb(35, 35, 35);
background-color:#f5c518;
;
width: 100px;
height:77px;
font-size: 22px;
      cursor:pointer;
       box-shadow: 0 0 30px #f5c518;
  }
  







nav {
  position: fixed !important;


  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
}

nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}
.navbar h1{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font: size 70px;
}


.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 0 70px orange
}


.navbar h1 {
    color: rgb(255, 255, 255);
}

