@font-face {
  font-family: Asimovian;
  src: url("Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("Fonts/PlayfairDisplay-Regular[1].ttf");
}
@font-face {
    font-family: PALSCRI;
    src: url("Fonts/PALSCRI.TTF");
}
html, body{
    margin: 0;
    padding: 0;
}
.APtop_images{
    display: flex;
    width: 100vw;
    overflow: hidden;
    height: 2000px;
    background-color: black;
}
.APwhiplash {
    width: 462;
    height: 1000;
    overflow: hidden;
    border-radius: 2px solid #333;
    margin: 0px auto;
}

.APwhiplash img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.APnight_crawler {
    width: 462;
    height: 1000;
    overflow: hidden;
    border-radius: 2px solid #333;
    margin: 0px auto;
}

.APnight_crawler img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -130px;
    filter: grayscale(100%);
}
.APoppenheimer {
    width: 462;
    height: 1000;
    overflow: hidden;
    border-radius: 2px solid #333;
    margin: 0px auto;
}

.APoppenheimer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.APthe_terminator {
    width: 462;
    height: 1000;
    overflow: hidden;
    border-radius: 2px solid #333;
    margin: 0px auto;
}

.APthe_terminator img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.APthe_godfather {
    width: 462;
    height: 1000;
    overflow: hidden;
    border-radius: 2px solid #333;
    margin: 0px auto;
}

.APthe_godfather img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

/* This is the NAVigation*/
nav {
  position: fixed !important;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
  text-decoration: none;
}
nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}
