@font-face {
  font-family: Asimovian;
  src: url("Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("Fonts/PlayfairDisplay-Regular[1].ttf");
}

h1 {
   color: #ffffff; 
  text-align: center;
  font-family: Stardom;
}

body {
  background-color: #000000;
  color: #ffffff;  
}

p {
color: #ffffff; 
  text-align: center;
  font-family: Playfair;
}
#Movie1 img {
width: 200px;
height: 300px;
}
