@font-face {
  font-family: Asimovian;
  src: url("Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("Fonts/PlayfairDisplay-Regular[1].ttf");
}

h1 {
   color: #ffffff; 
  text-align: center;
  font-family: Stardom;
}

body {
  background-color: #000000;
  color: #ffffff;  
  margin: 0;
  padding-top: 50px;
}

p {
color: #ffffff; 
  font-family: Playfair;
}

.oppenheimer-img {
  width: 200px;
  height: 300px;
}
.Oppenheimer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Night-img {
  width: 200px;
  height: 300px;
}
.Nightcrawler {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Terminator-img {
  width: 200px;
  height: 300px;
}
.TheTerminator {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Godfather-img {
  width: 200px;
  height: 300px;
}
.TheGodfather {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Whip-img {
  width: 200px;
  height: 300px;
}
.Whipsplash {
  display: flex;
  align-items: center;
  gap: 20px;
}


.Movie_info,
.Movie_info1,
.Movie_info2,
.Movie_info3,
.Movie_info4{
  flex: 1;
  text-align: left;
}

nav {
  position: fixed !important;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
}

nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}

/* Hi this is for the uhhh github link */

.bottom-nav {
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: #222222;
  padding: 15px;
  border-top: 2px solid #444;
  font-family: Stardom;
}

.bottom-nav a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s ease;
}

.bottom-nav a:hover {
  color: #ffcc00;
}



section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}
