@font-face {
  font-family: Asimovian;
  src: url("Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("Fonts/PlayfairDisplay-Regular[1].ttf");
}

h1 {
   color: #ffffff; 
  text-align: center;
  font-family: Stardom;
}

body {
  background-color: #000000;
  color: #ffffff;  
}

p {
color: #ffffff; 
  font-family: Playfair;
}

.oppenheimer-img {
  width: 200px;
  height: 300px;
}
.Oppenheimer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Night-img {
  width: 200px;
  height: 300px;
}
.Nightcrawler {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Terminator-img {
  width: 200px;
  height: 300px;
}
.The Terminator {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Godfather-img {
  width: 200px;
  height: 300px;
}
.The Godfather {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Whip-img {
  width: 200px;
  height: 300px;
}
.Whipsplash {
  display: flex;
  align-items: center;
  gap: 20px;
}


.Movie_info,
.Movie_info1{
  flex: 1;
  text-align: left;
}

