@font-face {
  font-family: Asimovian;
  src: url("../../Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("../../Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("../../Fonts/PlayfairDisplay-Regular[1].ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: Stardom, sans-serif;
}

h1{
    text-align: center;
    font-family: Stardom;   
}

/*picturestuff*/
.robot-section {
  overflow: auto; 
}

.robot-pic {
  float: right;
  width: 400px;
}

.robot-section hr {
  clear: both;      
  border: 1px solid #fff; 
}
/*picturestuff*/

hr {
  clear:both;
}

nav {
  position: fixed !important;


  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
}

nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ff0000;
}

.t2 {
  background: #10101182;
  font-size: medium;
  padding: 24px 48px;   
  border: 2px solid #ff0000;
  font-family: Asimovian, sans-serif;
  display: block;      
  margin: 40px auto;    
  transition: all 0.3s ease;
        
}

.t2:hover {
  background: #ff0000;
  color: #000;
  box-shadow: 0 0 20px #ff0000;
}

.stars{
    background-color: #5B0A0A;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    margin: 0;
}

.sent1{
    background-color: #3C0606;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    margin: 0;
}

.sent2{
    background-color: #6F0C0C;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    margin: 0;
}

.midphoto {
  width: 420px;
  height: auto;
  float: right;
}

