@font-face {
  font-family: Asimovian;
  src: url("../../Fonts/Asimovian-Regular.woff2");
}
@font-face {
  font-family: Stardom;
  src: url("../../Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("../../Fonts/PlayfairDisplay-Regular[1].ttf");
}

h1{
    text-align: center;
    font-family: Stardom;   
}

.earn{
  background-color: color-mix(in hsl, #ffcc00 50%, #222222 50%);
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}

.center{
  text-align: center !important;
  font-family: Asimovian !important;
  background-color: color-mix(in hsl, #ffcc00 50%, #222222 50%);
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}

.sources{
  text-align: center;
  font-family: Stardom;
  background-color: color-mix(in lab, plum 60%, #123456 50%);
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}

.photobox {
  width: 100%;          
  display: flex;
  flex-direction: column; 
  align-items: center;   
  background-color: navy;
}

.photobox img {
  width: 400px;          
  height: 400px;         
  object-fit: cover;    
  margin: 10px 0;        
  border-radius: 20px;   
}



nav {
  position: fixed !important;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
}

nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}