@font-face {
    font-family: Whiplash_font;
    src:url("../../Fonts/CHARLOTTE-SANS-STD-BOOK.ttf") format("truetype");
}
@font-face {
    font-family: Poppins_extrabold;
    src: url("Fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: Poppins_extrabold_I;
    src: url("Fonts/Poppins-ExtraBoldItalic.ttf");
}

html, body{
    height: 400vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    animation: b_to_w linear forwards;
    animation-timeline: scroll();
    animation-range-start: 25%;
    animation-range-end: 30%;
}

.main_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

#Layer_1{
    position: absolute;
    scale: 50%;
    animation: svg_Title_Up 2s cubic-bezier(.28,.38,.07,1) forwards 2.2s;
    z-index: 998;
}

.ad_BG{
    height: auto;
    width: 100vw;
    aspect-ratio: 2048 / 1365;
    z-index: 999;
    transform: translate(0%,100%);
    animation: roll_Bg 2s cubic-bezier(.28,.38,.07,1) forwards 2.2s;
}

.title{
    position: fixed;
    font-family: Whiplash_font;
    font-size: clamp(1em,3vh,3em);
    color: #FFFFFF;
    top: 7.5vh;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
    padding: 0;
    letter-spacing: 0;
    opacity: 0;
    animation: title_op 0.5s ease forwards 3.2s,
               title_space 1s cubic-bezier(.28,.38,.07,1) forwards 3.7s,
               w_to_b linear forwards;
    animation-timeline: auto, auto, scroll();
    animation-range-start: normal, normal, 25%;
    animation-range-end: normal, normal, 30%;
}

.title_a{
    position: absolute;
    z-index: 1000;
    top: 75%;
    left: 4vw;
    font-size: 5em;
    opacity: 0;
    font-family: Poppins_extrabold;
    animation: title_op 1s cubic-bezier(.28,.38,.07,1) forwards 2.2s,
            title_Font_Change 1s cubic-bezier(.28,.38,.07,1) infinite alternate 2.2s;
    transform: translate(0,-50%);
}

.title_d{
    position: absolute;
    z-index: 1000;
    top: 90%;
    left: 4vw;
    font-size: 5em;
    font-family: Poppins_extrabold;
    transform: translate(0,-50%);
    opacity: 0;
    animation: title_op 2s cubic-bezier(.28,.38,.07,1) forwards 2.2s;
}

.line_1{
    position: absolute;
    height: 5px;
    width: 80px;
    z-index: 1000;
    background-color: #FFFFFF;
    top: 80%;
    left: 4.5%;
    opacity: 0;
    animation: line_1 1s cubic-bezier(.28,.38,.07,1) infinite alternate 2.2s,
               title_op 2s cubic-bezier(.28,.38,.07,1) forwards 2.2s;
}

.main_themes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: visible;
    position: relative;
    flex-direction: column;
}

.Text_intro{
    position: absolute;
    top: 12vh;
    height: 350px;
    width: 700px;
    color: #ffffff;
    white-space: normal;
    overflow: visible;
    opacity: 0;
    transform-origin: -50% 0%;
    transform: rotate(50deg);
    transition: opacity 0.5s ease, transform 1s cubic-bezier(.28,.38,.07,1);
    animation: w_to_g linear forwards;
    animation-timeline: scroll();
    animation-range-start: 25%;
    animation-range-end: 30%;
}

.Text_intro.visible{
    opacity: 1;
    transform: rotate(0deg);
}

.Text_intro p{
    font-family: Poppins_extrabold;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.mt_title{
    position: absolute;
    top: 37vh;
    font-family: Whiplash_font;
    font-size: 5em;
    color: #FFFFFF;
    animation: w_to_g linear forwards;
    animation-timeline: scroll();
    animation-range-start: 25%;
    animation-range-end: 30%;
}

.mt_img1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    top: 55vh;
    left: 10vw;
    overflow: hidden;
    border-radius: 5%;
}

.mt_img1 img{
    aspect-ratio: 2048 / 1365;
    height: 30vh;
    width: auto;
    filter: grayscale(1);
    transition: filter 0.3s ease;
    z-index: 997;
}

.mt_img2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    top: 55vh;
    left: 40vw;
    overflow: hidden;
    border-radius: 5%;
}

.mt_img2 img{
    aspect-ratio: 2048 / 1365;
    height: 30vh;
    width: auto;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

.mt_img3{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    top: 55vh;
    left: 70vw;
    overflow: hidden;
    border-radius: 5%;
}

.mt_img3 img{
    aspect-ratio: 2048 / 1365;
    height: 30vh;
    width: auto;
    filter: grayscale(1);
    transition: filter 0.3s ease;
}

.mt_img1 h1,.mt_img2 h1,.mt_img3 h1{
    position: absolute;
    font-size: 1.5em;
    font-family: Poppins_extrabold;
    pointer-events: none;
    color: #FFFFFF;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 997;
}

.mt_img1:hover img,.mt_img2:hover img,.mt_img3:hover img{
    filter: grayscale(0);
}
.mt_img1:hover h1,.mt_img2:hover h1,.mt_img3:hover h1{
    opacity: 1;
}

.hihat{
    position: fixed;
    left: -600px;
    top: calc(50vh - 300px);
    transform: translateX(-50%);
    animation: roll_hihat_in linear forwards, roll_hihat linear forwards;
    animation-timeline: scroll();
    animation-range-start: 30%, 30%;
    animation-range-end: 39%, 100%;
    z-index: 996;
}

.Character_dynamics{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.cd_img{
    position: absolute;
    aspect-ratio: 1920 / 800;
    width: 100vw;
    height: auto;
    z-index: 995;
    clip-path: inset(0 100% 0 0);
    animation: reveal cubic-bezier(.28,.38,.07,1) forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30% ;
}

.cd_title{
    position: absolute;
    top: 4vh;
    color: #000000;
    font-size: 5em;
    font-family: Whiplash_font;
}

.cd_p{
    position: absolute;
    width: calc(100vw - 370px);
    height: calc(100vw/(1920/800));
    left: 370px;
    top: 88vh;
    white-space: normal;
    z-index: 995;
}

.cd_p p{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: Poppins_extrabold;
    z-index: 995;
    text-align: center;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 370px);
    left: 340px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.quote h1{
    color: #000000;
    font-size: 5em;
    font-family: Whiplash_font;
    opacity: 1;
}


/* title animation */
svg .cls-1{
    stroke-dasharray: 642.1551513671875;
    stroke-dashoffset: 642.1551513671875;
    fill: transparent;
    animation: cls-1 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-2{
    stroke-dasharray: 488.7200622558594;
    stroke-dashoffset: 488.7200622558594;
    fill: transparent;
    animation: cls-2 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-3{
    stroke-dasharray: 207.92001342773438;
    stroke-dashoffset: 207.92001342773438;
    fill: transparent;
    animation: cls-3 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-4{
    stroke-dasharray: 378.97802734375;
    stroke-dashoffset: 378.97802734375;
    fill: transparent;
    animation: cls-4 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-5{
    stroke-dasharray: 275.8599853515625;
    stroke-dashoffset: 275.8599853515625;
    fill: transparent;
    animation: cls-5 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-6{
    stroke-dasharray: 417.7961120605469;
    stroke-dashoffset: 417.7961120605469;
    fill: transparent;
    animation: cls-6 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-7{
    stroke-dasharray: 386.9460144042969;
    stroke-dashoffset: 386.9460144042969;
    fill: transparent;
    animation: cls-7 2s cubic-bezier(.28,.38,.07,1) forwards;
}

svg .cls-8{
    stroke-dasharray: 488.72003173828125;
    stroke-dashoffset: 488.72003173828125;
    fill: transparent;
    animation: cls-8 2s cubic-bezier(.28,.38,.07,1) forwards;
}

@keyframes cls-1 {
    0%{
        stroke-dashoffset: 642.1551513671875;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-2 {
    0%{
        stroke-dashoffset: 488.7200622558594;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-3 {
    0%{
        stroke-dashoffset: 207.92001342773438;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-4 {
    0%{
        stroke-dashoffset: 378.97802734375;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-5 {
    0%{
        stroke-dashoffset: 275.8599853515625;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-6 {
    0%{
        stroke-dashoffset: 417.7961120605469;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-7 {
    0%{
        stroke-dashoffset: 386.9460144042969;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes cls-8 {
    0%{
        stroke-dashoffset: 488.72003173828125;
    }
    80%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
    }
}

@keyframes svg_Title_Up {
    0%{
        margin-top: 0;
    }
    100%{
        margin-top: -65vh;
    }
}

@keyframes roll_Bg {
    from{
        transform: translate(0%,100%);
    }
    to{
        transform: translate(0%,0%);
    }
}

@keyframes title_op {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes title_space {
    from{
        letter-spacing: 0;
    }
    to{
        letter-spacing: 0.5em;
    }
}

@keyframes title_Font_Change {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(30%);
    }
}

@keyframes line_1 {
    0%{
        clip-path: inset(0 100% 0 0);
    }
    100%{
        clip-path: inset(0 0 0 0);
    }
}

@keyframes b_to_w {
    from{
        background-color: #000000;
    }
    to{
        background-color: white;
    }
}

@keyframes w_to_b {
    from{
        color: #FFFFFF;
    }
    to{
        color: #000000;
    }
}

@keyframes w_to_g {
    from{
        color: #FFFFFF;
    }
    to{
        color: #2c2c2c;
    }
}

@keyframes rotate_text{
    from{
        transform: rotate(50deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes roll_hihat{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes roll_hihat_in{
    0%{
        left: -600px;
    }
    100%{
        left: -300px;
    }
}

@keyframes reveal {
    from{
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

nav {
    position: fixed !important;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;

    display: flex;
    font-family: Whiplash_font;
    justify-content: center;
    gap:32px;
    background-color: rgb(34, 34, 34, 0.1);
    padding: 15px;
    text-decoration: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
nav a {
    color: #ffffff;
    font-family: Whiplash_font;
    transition: color 0.5s ease;
    text-decoration: none;
    height: 15px;
    animation: w_to_b linear forwards;
    animation-timeline: scroll();
    animation-range-start: 25%;
    animation-range-end: 30%;
}

nav a:hover {
    color: #ec2c2c;
}