@font-face {
    font-family: Whiplash_font;
    src:url("../../Fonts/CHARLOTTE-SANS-STD-BOOK.ttf") format("truetype");
}
html, body{
    height: 400vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
  color: #FFFFFF;
}
.title_poster{
    z-index: 998;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Whiplash_font;
    font-size: clamp(1em, 10vw, 10em);
    letter-spacing: 0.5em;
    color: white;
    opacity: 0;
    animation: opacity 1.5s ease forwards 0.5s;
    pointer-events: none;
}

.title_poster img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex: 1 1 100%;
    justify-content: center;
    aspect-ratio: 1920/796;
    width: 100vw;
    height: max-content;
    overflow: hidden;
    clip-path: inset(0 100% 0 0);
    animation: reveal 2s cubic-bezier(.28,.38,.07,1) forwards 2.25s;
}

.plot_summary, .background_info, .main_chars {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
}

.image_wrapper_1 {
    position: relative; 
    width: 70vw;        
    height: max-content;
    aspect-ratio: 1920/799;
}

.image_wrapper_1 img, .image_wrapper_2 img, .image_wrapper_3 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
    opacity: 0;
    animation: appear 1s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.image_wrapper_1 h1, .image_wrapper_2 h1 {
    position: absolute;
    top: 90%;       
    left: 35%;     
    transform: translate(-50%, -50%); 
    font-size: clamp(1em, 4vw, 5em); 
    font-family: Whiplash_font;
    letter-spacing: 0.25em;
    color: white;
    text-align: left;
    white-space: nowrap;
    opacity: 0;
    animation: appear-50-left 1s ease forwards 0.5s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.plot_summary p{
    text-align: left;
    font-family: Whiplash_font;
    padding-left: 5%;
    padding-right: 5%;
    font-size: clamp(0.2em, 2vw, 2em);
    opacity: 0;
    animation: appear 1s ease forwards 1.5s;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.image_wrapper_2 {
    position: relative; 
    width: 70vw;        
    height: max-content;
    aspect-ratio: 1920/798;
    left: 29.2vw;
}

.background_info ul, .main_chars ul{
    padding-left: 5%;
}

.background_info li, .main_chars li{
    text-align: left;
    font-family: Whiplash_font;
    padding-right: 5%;
    font-size: clamp(0.2em, 2vw, 2em);
    opacity: 0;
    animation: appear 1s ease forwards 1.5s;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.image_wrapper_3 {
    position: relative; 
    width: 70vw;        
    height: max-content;
    aspect-ratio: 1918/890;
}

.image_wrapper_3 h1 {
    position: absolute;
    top: 90%;       
    left: 40%;     
    transform: translate(-50%, -50%); 
    font-size: clamp(1em, 4vw, 5em); 
    font-family: Whiplash_font;
    letter-spacing: 0.25em;
    color: white;
    text-align: left;
    white-space: nowrap;
    opacity: 0;
    animation: appear-50-left 1s ease forwards 0.5s;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}



@keyframes opacity {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes reveal {
    from{
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes appear {
    from{
        opacity: 0;
        transform: translatey(10%);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appear-50-left {
    from{
        opacity: 0;
        transform: translateY(-10%);
        transform: translateX(-50%);
        left: 35%;
    }
    to {
        opacity: 1;
    }
}

nav {
  position: fixed !important;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Whiplash_font;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  text-decoration: none;
}
nav a {
  color: #ffffff;
  font-family: Whiplash_font;
  transition: color 0.5s ease;
  text-decoration: none;
  height: 15px;
}

nav a:hover {
  color: #ec2c2c;
}