@font-face {
    font-family: Whiplash_font;
    src: url("Fonts/CHARLOTTE-SANS-STD-BOOK.ttf");
}

.title_poster{
    z-index: 998;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: black;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.title{
    font-family: Whiplash_font;
    font-size: 10em;
    color: white;
}