@font-face {
  font-family: "Corleone";
  src: url("fonts/Corleone.woff2");format("woff2"),
  font-weight: 400;
  font-style: normal;
  font-display: swap;
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #070606;
  color: #eee;
}

.logo-title {
  font-family: "Corleone", serif; /* <- this must match @font-face */
  font-size: 64px;
  color: #e6b800;
  margin: 0;
  letter-spacing: 1px;
  text-shadow: 0 6px 18px rgba(0,0,0,0.6);
}

.tagline { color: #bfbfbf; margin-top:8px; }
.lead { color:#bfbfbf; }
.small { font-size:0.9rem; color:#999; }
}
@font-face {
  font-family: Stardom;
  src: url("Fonts/Stardom-Regular.ttf");
}
@font-face {
  font-family: Playfair;
  src: url("Fonts/PlayfairDisplay-Regular[1].ttf");


/*This is the navigation bar*/
nav {
  position: fixed !important;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  font-family: Stardom;
  justify-content: center;
  gap:32px;
  background-color: #222222;
  padding: 15px;
  border-bottom: 2px solid #444;
}

nav a {
  color: #ffffff;
  font-family: Stardom;
  transition: color 0.5s ease;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc00;
}
