body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    margin: 0;
}

header {
    text-align: center;
    padding: 40px;
    background: black;
}

h1 {
    color: #e6b800;
    font-size: 3rem;
}

section {
    margin: 40px;
}

img {
    width: 300px;
    margin: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #222;
}
